{% extends 'base.html' %}

{% block content %}

<center><h1>My Todolist </h1></center> 
<center><h2> Lets Create Your New Task! </h2> </center>
 
  <div class = "create_todo">
    <form method="POST" action ="">
        {% csrf_token %}
        <div>
            
            <label for="title">Task Title: </label>
            <input id="title" type="text" name="title" placeholder="Title" required>
        </div>
        <div>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" placeholder="Description" required>
        </div>
        <input type="submit" value="Create">
    </form>
    <right> <button><a href="{% url 'todolist:logout' %}">Logout</a></button> </right>
</div>

{% endblock content %}