{% extends 'base.html' %}

{% block content %}

<center><h1>Assignment 4 PBP : Todolist </h1></center>
 <right> <button><a href="{% url 'todolist:logout' %}">Logout</a></button> </right>

  <h3> Nice to meet You, {{username}} ! </h3>
  <h4> Sesi terakhir login: {{ last_login }}</h4>
 
  <div class = "login">
    <h1>Create New Task</h1>
    <form method="POST" action ="">
        {% csrf_token %}
        <div>
            
            <label for="title">Task Title: </label>
            <input id="title" type="text" name="title" placeholder="Title" required>
        </div>
        <div>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" placeholder="Description" required>
        </div>
        <input type="submit" value="Create">
    </form>

</div>

{% endblock content %}