{% extends 'base.html' %}

 {% block content %}

 <center><h1>Lab 1 Assignment PBP/PBD</h1></center>

  <h3>Name: </h3>
  <p>{{name}}</p>

  <h3>Student ID: </h3>
  <p>{{studentId}}</p>

  <center><h2>Katalogku</h2></center>
  <table border="1" cellspacing="2" cellpadding="8" align="left">
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% for barang in list_barang %} 
    <tr>
      <td align="left">{{barang.item_name}}</td>
      <td align="center"> {{barang.item_price}}</td>
      <td align="center">{{barang.item_stock}}</td>
      <td align="center">{{barang.rating}}</td>
      <td align="left"> {{barang.description}}</td>
      <td align="left"> <a href="{{barang.item_url}}">{{barang.item_url}}</a></td>
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
